body {
    font-family: Arial, sans-serif;
    background-color: #70f78f;
    text-align: center;
    position: absolute;
    elasticity: 0.5s;
}
header {
    background-color: #2eb263;
    color: #0b3e3d;
    padding: 38px;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
     
    
}



.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 1200px;
    border: 2px solid #19191a; /* Bordes azules */
    border-radius: px; /* Bordes redondeados */
    box-shadow: 20px 20px 20px rgba(24, 24, 24, 0.3); /* Sombra más pronunciada */
    padding: 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5%;
    background-color: #128e6b;
    color: #0b3e3d;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;

    
}
    
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card {
    border: 2px solid #19191a; /* Bordes azules */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 20px 20px 20px rgba(24, 24, 24, 0.3); /* Sombra más pronunciada */
    padding: 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5%;
    background-color: #2eb263;
}

.card:hover {
    transform: scale(1.05);url(https://wa.me/573017116153?text%3DHola%2C%20quiero%20comprar%20casa%20en%20Pereira%20por%20%241200)
    background-color: #12756d; /* Color de fondo al pasar el mouse */
}


footer {
    position: relative;
    bottom: ;
    width: 100%;
}
footer a:hover {
    color: #23f810;
}
/* Estilos generales */
.modo-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}
.modo-btn:hover {
    transform: scale(1.2);
}
.btn-success {
    background-color: rgb(12, 103, 89);
    text color:black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    color: black;
    
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.btn-success:hover {
    background:rgb(181, 195, 55);
}
hr {
    border: 1px solid #121111;
    margin: 28px 0;
}
 h1 {
    color: #0b3e3d;
    font-size: 54px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2eb263;
    color: #0b3e3d;
}

body {
    background-color: #4fdfaf;
    color: #212529;
    .card {
        background-color: #50ce9e;
        color: #212529;
    }
    .product-container {
        background-color: #147461;
        color: #212529;
    }
    header {
        background-color: #042922;
        color: #0b3e3d;
    }
    h1{
        background-color:#6efdea ;
        color: #171818;
    }
    
    transition: 0.5s ease-in-out;
    .btn-success {
        background-color: #0b3e3d;
        color: #060606;
    }
}
.dark-mode {
    background-color: #296b68;
    color: #f8f9fa;
    .card {
        background-color: #0b524f;
        color: #f8f9fa;
    }
    .product-container {
        background-color: #043823;
        color: #f8f9fa;
    }
    header {
        background-color: #0e0e0f;
        color: #f8f9fa;
    }
    h1{
        background-color: #072d2c;
        color: #f8f9fa;
    }
    .btn-success {
        background-color: #171919;
        color: #a7bbcf;
    }
} 
.btn2 {
    background-color: #050505;
    color: #0b3e3d;
    padding: 10px 20px;
    font-size: 18px;
    top: px;
    left: 10px;

    border-radius: 23px;
    border-color: rgb(222, 127, 12);
    position: fixed
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.dark-mode-toggle {
    background-color: rgba(0, 0, 0, 0.);
    color: #f8f9fa;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    border-color: rgb(222, 127, 12);
    position: absolute;
    top: 1px;
    right: px;
    left: 114%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
